body, html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
header {
}
nav {
}
main {
  position: relative;
  width: 100%;
}
footer {
  width: 100%;
}
h2 {
  font-size: 1.25em;
}
a {
  color: black;
}
h1,
section#jumbotron div a {
  color: white;
  margin: 0.5em 0;
}
section#jumbotron {
  background-image: url(https://res.cloudinary.com/mrchozo/image/upload/v1583714853/3907palm/23-Left_Side_40FT-MLS_abo6jp.jpg);
  background-position: center;
  background-position-x: 55.6%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}
section#jumbotron div {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}


section#three-images {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
section#three-images a {
  display: flex;
  width: 33.3333333333%;
}
section#three-images img {
  width: 100%;
}


section#left-image,
section#right-image {
  display: flex;
  text-align: left;
}
section#left-image {
  flex-direction: column;
}
section#right-image {
  flex-direction: column-reverse;
}
section#left-image img,
section#right-image img {
  width: 100%;
}
section#left-image ul,
section#right-image ul {
  padding-right: 1em;
}


section#social {
  position: fixed;
  bottom: 0;
  height: 2em;
  width: 100%;
  background: rgba(193, 193, 193, 0.45);
  padding: .75em .5em;
}
section#social div {
  box-sizing: border-box;
  margin: 0 auto;
  width: 25%;
  border: 2px solid #006aff;
  line-height: 0;
  border-radius: 5px;
  display: inline;
}
section#social div img {
  padding: .5em 0;
  height: 15px;
  margin: 0;
}


section#list-no-image {
  text-align: center;
}
section#list-no-image ul {
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}
section#list-no-image li {
  padding: 1em 0;
  list-style: none;
}


@media only screen and (min-width: 360px) {
}
@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1366px) {
}
@media only screen and (min-width: 1920px) {
}
